

body #body-main-page {
    background-image: url('main3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 948px;
    font-family: 'Numans', sans-serif;
}



.main-page-container{

    text-align: center;
    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#main-page-card{
    height: 360px;
    margin-top: auto;
    margin-bottom: auto;
    width: 430px;
    background-color: rgba(0,0,0,0.7) !important;
}


.card-header h3{
    color: white;
}


.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{

    box-shadow: 0 0 0 0 !important;

}

.form-group-two{
    display: flex;
}
.form-group-two button{
    justify-content: center;
}

.login_btn{

    color: black;
    background-color: #FFC312;
    width: 100px;
    margin-left: 150px;
    margin-top: 10px;
}

.login_btn:hover{
    color: black;
    background-color: white;

}
.google-button {
    display: flex;
    text-align: center;
    color: #FFC312;
    justify-content: center;
    text-decoration: none !important;
    margin-left: 70px;
    padding-top: 20px;
    width: 253px;
    height: 44px;
}
.google-button  p:hover {
    color: white !important;
}
.google-button:hover {
    color: white !important;
}

.google-img {
    margin-right: 10px;

    width: 20px !important;
    height: 20px !important;
}
.link-to-signUp{
    color: #FFC312;
}


.link-to-signUp:hover{
    color: white;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}
