

div #body-sign-up{
    background-image: url('main3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 948px;
    font-family: 'Numans', sans-serif;
}

.sign-up-container{
    height: 100%;
    text-align: center;
    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card{
    height: 410px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.7) !important;
}


.card-header h3{
    color: white;
}


.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{

    box-shadow: 0 0 0 0 !important;

}


.sign-up-btn{
    margin-top: 20px;
    color: black;
    background-color: #FFC312;
    width: 200px;
}

.sign-up-btn:hover{
    color: black;
    background-color: white;
}

.link-to-signUp{
    color: #FFC312;
}


.link-to-signUp:hover{
    color: white;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}
.bt-group p{
    height: 20px;
    color: rgb(255, 97, 55);
    font-size: 16px;
}
.but-group{
    height: 15px;
}
.link-to-main-page{
    color:black;
    text-decoration: none;
    padding: 10px 60px ;
}
.link-to-main-page:hover,
.link-to-main-page:active{
    color:black;
    text-decoration: none;
}
