.navbar{
    height: 60px;
}


.rdl-control-container {
    height: 400px !important;
    border-color: #ffc312 !important;

}


.rdl-control:focus,
.rdl-control:active{

    outline: none !important;
}

#logout-button{
    margin-left: 400px;
}
#AddTripModal{

    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container-fluid {
    max-width: 1550px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
#main-info {
    max-width: 1920px !important;
    display: flex;
    justify-content: center;
    text-align: center !important;
}
.container {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.modal-body-trip{
    padding: 20px;

}
#DeleteTripModal{
    width: 500px;
    height:300px;
    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#EditTripModal{
    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#AddCategoryModal{
    width: 500px;
    height:300px;
    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#AddStaffModal{
    width: 500px;
    height:300px;
    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#modal-cat{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
}

#logoutModal{
    width: 500px;
    height:300px;
    position: fixed; top: 45%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-body p{
    font-size: 16px ;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.modal-header{
    text-align: center;
}
.collapse ul li a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 0px;

}

.collapse ul li a:hover, .collapse ul li a:focus{

    color: black;
    background-color: black;
}

.planed-trips *:hover {

    color: black;
    background-color: rgba(255, 195, 18, 0.88) !important;
}

.planed-trips:hover {

    color: black;
    background-color: rgba(255, 195, 18, 0.88) !important;
}



.actionsBtns{
    display: flex;
    justify-content: space-around;
}

.actionsBtns .btn-default{
    background-color: white !important;
    border-color: rgba(0, 0, 0, 0.31) !important;
    color: black;
    font-size: 16px;
}

.actionsBtns .btn-default:hover,
.actionsBtns .btn-default:focus,
.actionsBtns .btn-default:active
{
    background-color: #ffc312 !important;
    outline-color: #ffc312 !important;
    color: black !important;
}

.side-nav {
    position: fixed;
    left: 0;
    top: 59px;
    width: 350px;
    height: 1000px;
    padding-bottom: 0;
    border: none;
    border-radius: 0;
    border-top: 1px rgba(0,0,0,.5) solid;
    background-color: #222;
    bottom: 0;
}

.side-nav>li>a {
    width: 350px;
    border-bottom: 1px rgba(0,0,0,.3) solid;

}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: rgba(255, 195, 18, 0.88) !important;
    color: black;
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 0px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;
    font-size: 16px;
}

.side-nav>li>ul>li>a:hover {
    color: black;
}

.navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 16px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
}
.colored >li{
    display: block;
    padding: 10px 15px 10px 0px;
    color: #fff;
    font-size: 16px;
}
.colored >li >a>  {
    text-decoration: none;
    color: #fff;
}

.colored{
    padding-left: 0;

}
#main-trips{
    font-size: 20px;
    color:white;
}
#main-trips:hover,
#main-trips:focus{

    color:black;
}
.navbar .nav > li > a:hover > .label {
    top: 10px;
    color: black;
}

.navbar-brand {
    padding: 5px 15px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 16px;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: black;
    background-color: rgba(255, 195, 18, 0.88) !important;

}

.navbar-header{
    position: absolute;
    margin-left: 70px;
    color: white;
    font-size: 28px;

}


.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}


.input-group .form-control{
    font-size: 16px;

}

.input-group .form-control:focus{
    border-color: #FFC312;

}
.col-1-2 {
    width: 50%;
    float: left;
}

#page-wrapper {
    margin-top: 50px;
    height: 920px;
    margin-left: 350px;
    width: 100%;
    padding: 0;
}
.page-wrappers {
    background-color: #FFC312;
}
.side-nav {
    height: 100vh !important;
}

.rdl-filter:focus{
   outline-color: #FFC312;

}

.page-wrapper-disable {
    background-color: white !important;
}

.Choose-trip {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    font-size: 100px;
    position: absolute;
    left: 35%;
    top: 35%;
}

.css-26l3qy-menu {
    z-index: 100 !important;
    position: absolute !important;
}

.css-2b097c-container{
    margin-bottom: 15px !important;
}


fieldset.for-panel {
    margin-top: 10px;
    background-color: rgba(252, 252, 252, 0.75);
    box-shadow: 0 0 10px #000000; /* Параметры тени */
    border-radius: 4px;
    padding: 15px 10px;
    margin-left: 10px;
    font-size: 16px;
    margin-bottom:12px;
    width: 100%;
}
.Widget {
    flex-direction: column;
    margin: 0 11.7%;
    text-align: center;
    justify-content: center;
    max-width: 1140px;
    display: flex;
}
.title-stuff {
    margin: 0 15%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}
.stuff {
    display: flex;
    justify-content: center;
}
.react-dual-listbox {
    display: flex;
    justify-content: space-between;
    margin: 0 auto !important;
    width: 100%;
}
.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}

.list-arrows button {
    margin-bottom: 20px;
}
.list-group-item a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-align: center;

}

.list-group-item a:hover{
    color: black;
    text-decoration: none;

}
#but-redact{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 90px;

}
#but-redact:active,
#but-redact:hover,
#but-redact:focus {
    outline: none;
    color: black;
    background-color: rgba(255, 195, 18, 0.88) !important;
}
#but-redact a:hover,
#but-redact a:focus,
#but-redact a:active{
    text-decoration: none;
    color: black;
}
#but-redact a{
    text-decoration: none;
    color: black;
    padding: 20px;

}
#planed-trips-link:hover {
    cursor: pointer;
    background-color: transparent !important;
}
.list-group{
    height: 500px;
    overflow: scroll; /* Добавляем полосы прокрутки */
    overflow-x: hidden;
}
.main-letter{
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.dropdown-menu{

    font-size: 18px;
    background-color: rgba(34, 34, 34, 0.88) !important;
}
.dropdown-item{
    text-align: center;

}

#drop-btn{
    background-color: rgba(34, 34, 34, 0.88) !important;
    width: 350px;
    font-size: 16px;
    color: white;
}

#drop-btn:hover,
#drop-btn:active{
    background-color: rgba(255, 195, 18, 0.88) !important;
    color: black;
}
.fa-trash-alt{
    margin-right: 5px;
}
#exit-but {
    background-color: white !important;
}
#non-pad{
    padding: 0;
}


